<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
<head>
	<title>SMART. Live news. Search view</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jScrollPane/2.0.14/jquery.jscrollpane.min.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

	<style type="text/css"> </style>
	<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/styles.css">

	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0-rc1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.6/jquery.mousewheel.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jScrollPane/2.0.14/jquery.jscrollpane.min.js"></script>

	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="//api.html5media.info/1.1.8/html5media.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

	<script src="{{ app.request.basepath }}/assets/js/scripts.js"></script>
	<script src="https://maps.google.com/maps/api/js?sensor=false"></script>

</head>
<body {% if document.id is defined %} id="{{ document.id}}" {% endif %} >
	{% block content %} {% endblock %}
</body>
</html>
