<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
<head>
	<title>SMART. Live news. Search view</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
	<style type="text/css"> </style>

	<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/styles.css">
	<script src="{{ app.request.basepath }}/assets/js/scripts.js"></script>
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
</head>
<body {% if document.id is defined %} id="{{ document.id}}" {% endif %} >
	{% block content %} {% endblock %}
</body>
</html>
